
.mainFxmlClass {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #262626, #191919);
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #7f7f7f, #707070);
    -fx-border-width: 2px;
}

.mainFxmlClass:hover {
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #afafaf, #a0a0a0);
}

.text-area {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: transparent;
}

.text-area .viewport {
    -fx-background-color: transparent;
}